<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>redis index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td>ActiveMq send(生产者)</td>
                <td><a th:href="@{/activeMQ/sendHtml}">send</a></td>
            </tr>
            <tr>
                <td>ActiveMq recive(消费者)</td>
                <td><a  th:href="@{/activeMQ/reciveHtml}">recive</a></td>
            </tr>

        </tbody>

    </table>
</body>
</html>