<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>JSON index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td>JSON Map</td>
                <td><a th:href="@{/json/jsonMapString}">JSON Map Study（页面显示）</a></td>
                <td><a th:href="@{/json/jsonMap}">JSON Map Study（JSON数组）</a></td>
            </tr>
            <tr>
                <td>JSON List</td>
                <td><a th:href="@{/json/jsonListString}">JSON List Study（页面显示）</a></td>
                <td><a th:href="@{/json/jsonList}">JSON List Study（JSON数组）</a></td>
            </tr>
            <tr>
                <td>JSON Object</td>
                <td><a th:href="@{/json/jsonObjectString}">JSON Object Study（页面显示）</a></td>
                <td><a th:href="@{/json/jsonObject}">JSON Object Study（JOSN对象）</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>