<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Study index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <table>
        <tbody>
            <tr >
                <th>编号</th>
                <th>联行号</th>
                <th>名称</th>
            </tr>
            <tr  th:each="bank,bankStat:${bankList}">
                <th th:text="${bankStat.index}"></th>
                <th th:text="${bank.bankNo}"></th>
                <th th:text="${bank.bankName}"></th>
            </tr>
        </tbody>
    </table>
</body>
</html>